body {
    background-color: wheat;
    max-width: 1000px;
    margin: auto;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    padding: 10px;
}

h1 {
    font-size: 3em;
    text-align: center;
}

h1, h2, h3 {
    font-family: sans-serif;
}

p {
    line-height: 2em;
}

#blog {
    border-top: 1px dotted grey;
    display: flex;
}

.blog-post {
    border-bottom: 1px dotted grey;
}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic img {
    display: flex;
    border: 2px solid grey;
    border-radius: 15px;
    width: 50%;
    height: auto;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: grey;
}

article{
    padding: 20px;
    margin: 20px;
}

.prt {
    display: flex;
    border: 2px solid grey;
    border-radius: 15px;
    width: 60%;
    height: auto;
    float: right;
}

/* Media Queries*/

@media (max-width: 400px) {
    body {
        background-color: whitesmoke;
    }

    h1 {
        color: teal;
    }

    #blog {
        display: block;
    }
}